.table-container {
    border: 1px solid #ddd;
    border-collapse: collapse;
    width:100%;
}
  
.table-container th, .table-container td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
  
.table-container th {
    background-color: #f2f2f2;
}
  
.table-container tr:nth-child(even) {
    background-color: #f2f2f2;
}

.Write {
    padding: 20px;
}

.Write div {
    margin-top: 20px;
    margin-left: 0;
}

#title_txt {
    width: 100%;
    padding-bottom: 10px;
    border: none;
    font-size: 22px;
    border-bottom: solid 1px #ababab;
    font-weight: bold;
    max-width: 800px;
}

#title_txt:focus { outline : none; }

#content_txt {
    padding: 30px 10px 10px 10px;
    width: 100%;
    resize: none;
    border: none;
    height: 500px
}

#content_txt:focus { outline : none; }


.react-quill {
    width:100%;
    height: 50px;
  }

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 20px;
}
.community-search-input {
    width: 200px;
    border: 1px solid #bbb;
    border-radius: 4px;
    padding: 10px 12px;
    font-size: 14px;
    z-index: 1;
  }
.NotDrag {
    user-select: none;
  }
.community-clear-search-button {
    position: absolute;
    top: 100px;
    right: 100px;
    cursor:pointer;
    padding-right:10px;
}
.searchbutton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #208123;
    color: white;
    text-align: center;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
}