.search-controls {
    display: flex;
    justify-content: space-between;
}

.sort-container {
    flex: 1;
    margin-right: 65px;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-container select {
    margin-right: 5px;
}

.sort-container,
.search-container select {
    padding: 8px 12px;
    /* Adjust padding as needed */
    font-size: 16px;
    /* Adjust font size as needed */
    border: 1px solid #ccc;
    /* Border color */
    border-radius: 4px;
    /* Border radius */
    background-color: #fff;
    /* Background color */
    color: #333;
    /* Text color */
}

.sort-container,
.search-container select:focus {
    outline: none;
    /* Remove focus outline */
    border-color: #007bff;
    /* Highlight border color on focus */
}

.sort-container,
.search-container select:hover {
    border-color: #999;
    /* Highlight border color on hover */
}


.search-controls {
    display: flex;
    text-align: center;
    justify-content: space-between;
  }
    
.pagination {
    display: flex;
    text-align: center;
    justify-content: center;
}
  
.pagination li {
    display: inline;
    margin: 0 5px;
    text-align: center;
}
  
  .pagination li a {
    padding: 5px 10px;
    text-decoration: none;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .pagination li.active a {
    background-color: #00a54c;
    color: #fff;
    border: 1px solid #00a54c;
  }
  
  .pagination li a:hover {
    background-color: #00642f;
    color: #fff;
    border: 1px solid #00642f;
  }
  